@import url('https://fonts.googleapis.com/css?family=Amatic+SC|Dancing+Script|Lora&display=swap');

.plan-header th {
  width: 190px;
  overflow: hidden;
  display: inline-block;
  white-space: nowrap;
}

.plan-data td {
  width: 190px;
  overflow: hidden;
  display: inline-block;
  white-space: nowrap;
}

.plan-input {
  padding: 20px;
}

.user-info {
  display: inline-block;
  text-align: center;
  width: 700px;
  padding: 15px;
  margin: 10px;
  font-family: 'Dancing Script', cursive;
  font-size: 40px;
  background: white;
}

.wedding-info {
  display: inline-block;
  background-color: #e0e0eb;
  text-align: center;
  width: 400px;
  padding: 15px;
}

.countdown-info {
  display: inline-block;
  background-color: #e0e0eb;
  text-align: center;
  width: 400px;
  padding: 15px;
}

tr td:nth-child(odd) {
  background: grey;
}

tr td:nth-child(even) {
  background: white;
}

a {
  color: black;
  display: block;
  font-family: 'Dancing Script', cursive;
  font-size: 25px;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Lora', serif;
}

form  { 
  display: table;
  padding-left: 35%;
}
p     { 
  display: table-row;  
}
label { 
  display: table-cell; 
}
input { 
  display: table-cell; 
}


.App {
    box-shadow: inset 0px 50.00vh 0px #ffcce6, inset 0px 53.33vh 0px grey, inset 0px 99.99vh 0px white;
    height: 100vh;
    width: 100vw;
    text-align: center;
    margin: 0;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
  pointer-events: none;
}

.signup-blur {
  background:white;
  filter:blur(100px);
  height: 400px;
  width:50%;
  margin: auto;
  padding:10px;
  position: absolute;
  top:15%;
  left:25%;
}

.signup-container {
  height: 500px;
  width:50%;
  margin: auto;
  padding:10px;
  position: absolute;
  top:12%;
  left:25%;
}

.login-blur {
  background:white;
  filter:blur(100px);
  height: 400px;
  width:50%;
  margin: auto;
  padding:10px;
  position: absolute;
  top:15%;
  left:25%;
}

.login-container {
  height: 500px;
  width:50%;
  margin: auto;
  padding:10px;
  position: absolute;
  top:15%;
  left:25%;
}

.plans-blur {
  background:white;
  filter:blur(100px);
  height: 500px;
  width:100%;
  margin: auto;
  padding:10px;
  position: absolute;
  top:30%;
  left:0px;
}

.plans-container {
  height: 500px;
  width:100%;
  margin: auto;
  padding:10px;
  position: absolute;
  top:30%;
  left:0px;
}


.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}


@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
