/* CSS applied to generic attributes */
@import url('https://fonts.googleapis.com/css?family=Corben|Nobile&display=swap');

a {
  color: black;
  display: block;
  font-family: 'Corben';
  font-size: 25px;
}

h1, h2, h3, h4, h5, h6 {
 font-family: 'Corben', Georgia, Times, serif;
 font-size: 40px;
 line-height: 55px;
}

p {
 font-family: 'Nobile', Helvetica, Arial, sans-serif;
 font-size: 13px;
 line-height: 25px;
 display: table-row;  

}

form  { 
  display: table;
  padding-left: 35%;
}

label { 
  display: table-cell; 
}
input { 
  display: table-cell; 
}

body {
  height: 100%;
  background-repeat: repeat;
  background-image: url("tiny-squares.png");
}




/* CSS applied to App as a whole */
.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.App {
    text-align: center;
    margin: 0;
    padding: 0;
    height: 100%;
}

 .heart-animation {
  animation: App-logo-spin infinite 10s linear;
  height: 10vmin;
  pointer-events: none;
  position: absolute;
  bottom: 10px;
  right: 50%;
  left: 50%;
}

.dropdown {
  position: absolute;
  right: 0;
  left: auto;
  top: 0;
}




/* CSS applied to Plans */
.plan-list {
  background-image: url("linedpaper.png");
  margin: 0 auto;
  padding: 45px;
  width: 100%;

}

.plan-data {
  text-align: center;
  padding:10px;
}

.plan-input {
  margin: 0 auto;
  padding: 55px;
  width: 80%;
}



/* CSS applied to Display Boxes */
.user-info {
  display: inline-block;
  text-align: center;
  width: 700px;
  padding: 15px;
  margin: 10px;
  font-family: 'Corben', cursive;
  font-size: 40px;
  background: white;
}

.wedding-info {
  display: inline-block;
  background-color: #B0C4DE;
  text-align: center;
  width: 400px;
  padding: 15px;
}

.countdown-info {
  display: inline-block;
  background-color: #B0C4DE;
  text-align: center;
  width: 400px;
  padding: 15px;
}


/* CSS applied to Main Divs of Signup/Login/Plans */
.signup-blur {
  background:white;
  filter:blur(100px);
  height: 400px;
  width:50%;
  margin: auto;
  padding:10px;
  position: absolute;
  top:15%;
  left:25%;
}

.signup-container {
  background: white;
  box-shadow: 3px 3px 3px 3px #888888;
  height: 350px;
  width:50%;
  margin: auto;
  padding:10px;
  position: absolute;
  top:12%;
  left:25%;
}

.login-blur {
  background:white;
  filter:blur(100px);
  height: 400px;
  width:50%;
  margin: auto;
  padding:10px;
  position: absolute;
  top:15%;
  left:25%;
}

.login-container {
  background: white;
  box-shadow: 3px 3px 3px 3px #888888;
  height: 200px;
  width:30%;
  margin: auto;
  padding:10px;
  position: absolute;
  top:15%;
  left:35%;
}

.plans-blur {
  background:white;
  filter:blur(100px);
  height: 500px;
  width:100%;
  margin: auto;
  padding:10px;
  position: absolute;
  top:30%;
  left:0px;
}

.plans-container {
  height: 500px;
  width:100%;
  margin: auto;
  padding:0px;
  position: absolute;
  top:30%;
  left:0px;
}



/* Animation */
@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
